# Don't include the 956MB Raspbian SDCard image. Instead, provide a link to download it
embedded/raspberry_pi/BackupCarteSD.gz
embedded/raspberry_pi/RaspiSoftware/bin/
control_station/BuggySoft/build/
control_station/BuggySoft/dist/
